:root{
  /* custom variable color */
  --mainblue:#2a2a72;
  --lightblue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainYellow:#ffa400;
  --mainDark:#232528;

}

body{
  font-family:  'Oswald', sans-serif !important;
   background: var(--mainWhite) ! important;
   color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Permanent mark', cursive ;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color:var(--mainblue);

}

.text-bright{
  color: var(--lightblue);
}